
		<main class="flex">
			<div class="column-main tile">
				<h1>Team collaboration done right</h1>
				<p>Thousands of teams from all over the world turn
					to <b>Ink</b> to communicate and get things done</p>
			</div>


			<div class="column-sidebar">
				<div class="tile">
					<%if (!(loggedIn)){%>
					<form class="login-form" action="/users/login" method="GET">
						<h3>Login</h3>
						<p>
							<label for="username">Username</label>
							<input type="text" name="userName" id="username">
						</p>
						<p>
							<label for="password">Password</label>
							<input type="password" name="password" id="password">
						</p>
						<button type="submit">Login</button>
					</form>
					<%}else{%>
						<p><%=currentUser.fullName%> has logged in.</p>
						<a href="/users/logout" class="cta-button logout">Logout</a>
					<%}%>
				</div>

				<div class="tile centered">
					<%if (!(loggedIn)) {%>
					<small>Starting at</small>
					<div class="cost">
						<span class="cost-currency">$</span>
						<span class="cost-dollars">20</span>
						<span class="cost-cents">.00</span>
					</div>
					<a class="cta-button" href="/users/new">
						Sign up
					</a>
					<%}else{%>
						<p><%=`${currentUser.fullName}'s score is:`%></p>
					<%}%>
				</div>
			</div>

		</main>

