
		<main class="flex">
			<div class="column-main tile">
				<h1>Team collaboration done right</h1>
				<p>Thousands of teams from all over the world turn
					to <b>Ink</b> to communicate and get things done</p>
			</div>

			<div class="column-sidebar">
				<div class="tile">
					<form class="login-form">
						<h3>Login</h3>
						<p>
							<label for="username">Username</label>
							<input type="text" name="username" id="username">
						</p>
						<p>
							<label for="password">Password</label>
							<input type="password" name="password" id="password">
						</p>
						<button type="submit">Login</button>
					</form>
				</div>

				<div class="tile centered">
					<small>Starting at</small>
					<div class="cost">
						<span class="cost-currency">$</span>
						<span class="cost-dollars">20</span>
						<span class="cost-cents">.00</span>
					</div>
					<a class="cta-button" href="/pricing">
						Sign up
					</a>
				</div>
			</div>

		</main>

