<div class="container flex">
	<div class="firstColumn">
		<p><label for="firstName">First Name</label>
			<input type="text" name="firstName" id="firstName"></p>

		<p><label>Email</label>
			<input type="Email" name="email"></p>
	</div>

	<div class="secondColumn">
		<p><label for="lastName">Last Name</label>
		<input type="text" name="lastName" id="lastName"></p>

	</div>
</div>