<div class="container flex">
	<div class="hidden"></div>
	<form class="login-form tile center">
		
		<p><label for="firstName">First Name</label>
			<input type="text" name="firstName" id="firstName"></p>

		<p><label for="lastName">Last Name</label>
		<input type="text" name="lastName" id="lastName"></p>

		<p><label>Email</label>
			<input type="Email" name="email">

		<button class="submit">Sign up</button>

	</form>
	<div class="hidden"></div>
</div>