<table>
	<tr>
		<th>FirstName</th>
		<th>LastName</th>
		<th>Email</th>
		<th>UserName</th>
		<th>Edit</th>
	</tr>
	<tr>
		<td><%=currentUser.name.first%></td>
		<td><%=currentUser.name.last%></td>
		<td><%=currentUser.email%></td>
		<td><%=currentUser.userName%></td>
		<td><a href="/users/edit"></a></td>
	</tr>
</table>